@model MusicalInstrumentsShop.BusinessLogic.DTOs.AccountInfoDto

@{
    ViewData["Title"] = "My Account";
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }
}

<div class="row add-margin-top-100">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Account details</h4>
                <b> @Html.DisplayNameFor(model => model.FirstName): </b>
                @Html.DisplayFor(model => model.FirstName)<br />
                <b>@Html.DisplayNameFor(model => model.LastName): </b>
                @Html.DisplayFor(model => model.LastName)<br />
                <b>@Html.DisplayNameFor(model => model.Email): </b>
                @Html.DisplayFor(model => model.Email)<br />
                <b>@Html.DisplayNameFor(model => model.Role): </b>
                @Html.DisplayFor(model => model.Role)
                <br /><br />
                <a asp-controller="Account" asp-action="Edit">Edit account</a>
            </div>
        </div>
    </div>
</div>
