@model MusicalInstrumentsShop.BusinessLogic.DTOs.AccountInfoDto

@{
    ViewData["Title"] = "Profile";
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Account details</h4>
                <h6><b> @Html.DisplayNameFor(model => model.FirstName)</b></h6>@Html.DisplayFor(model => model.FirstName)
                <br />
                <h6><b>@Html.DisplayNameFor(model => model.LastName)</b></h6>@Html.DisplayFor(model => model.LastName)
                <br />
                <h6><b>@Html.DisplayNameFor(model => model.Email)</b></h6>@Html.DisplayFor(model => model.Email)
                <br />
                <h6><b>@Html.DisplayNameFor(model => model.Role)</b></h6> @Html.DisplayFor(model => model.Role)
                <br /><br />
                <a asp-controller="Account" asp-action="Edit">Edit account</a>
            </div>
        </div>
    </div>
</div>
