@{
    ViewData["Title"] = "My cart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container wishlist-cart" style="background-color: whitesmoke;">
    <h2>My shopping cart</h2>
    @if (ViewBag.Cart != null && ViewBag.Cart.Count > 0)
    {
        <div class="row">
            <div class="col-12">
                <div class="table-content table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Remove</th>
                                <th>Images</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Cart)
                            {

                                <tr>
                                    <td>
                                        <form asp-action="Remove" asp-controller="Cart" asp-route-id="@item.Product.Id" method="post">
                                            <input type="submit" value="Remove" class="btn btn-dark" />
                                        </form>
                                    </td>
                                    <td>
                                        @{var firstPhoto = item.Product.Photos[0].Name;}
                                        <img src="~/images/products/@firstPhoto" width="60" height="60" />
                                    </td>
                                    <td>
                                        <a style="color: black;" asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.Id">
                                            @item.Product.Name
                                        </a>
                                    </td>
                                    <td>
                                        @item.Product.Price
                                    </td>
                                    <td>

                                        <div class="form-group row">
                                            <div class="col-xs-2">
                                                <input id="id-field" value="@item.Product.Id" class="form-control text-center" style="width: 80px;" hidden />
                                                <input id="quantity-field" value="@item.Quantity" class="form-control text-center" style="width: 80px;" />
                                                <input type="submit" value="Update" class="btn btn-dark" onclick="update_quantity()" />
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        $ @(item.Product.Price * item.Quantity)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td align="right" colspan="6">Sum</td>
                                <td>$ <input style="border: 0;" readonly id="sum-id" value=@ViewBag.Total /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <form style="display:inline-block;" class="add-margin-left-50" asp-action="Create" asp-controller="Orders" method="get">
            <div class="form-group row">
                <div class="col-xs-2">
                    <input type="submit" value="Proceed to checkout" class="btn btn-dark" />
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <p>There is no product in the shopping cart</p>
            </div>
        </div>
    }
</div>
<br />


@section Scripts {
    <script src="~/js/placeOrder.js"></script>
}
