@{
    ViewData["Title"] = "Your MIOS cart";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container wishlist-cart" style="background-color: whitesmoke;">
    <h2>My shopping cart</h2>
    @if (ViewBag.Cart != null)
    {
        if (ViewBag.QuantityUpdated != null)
        {
            <h1>HERE</h1>
            <div class="alert alert-info" style="margin-top: 100px;">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                @ViewBag.QuantityUpdated
            </div>
        }
        <div class="row">
            <div class="col-12">
                <div class="table-content table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Remove</th>
                                <th>Images</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Cart)
                            {

                                <tr>
                                    <td>
                                        <form asp-action="Remove" asp-controller="Cart" asp-route-id="@item.Product.Id" method="post">
                                            <input type="submit" value="Remove" class="btn btn-dark" />
                                        </form>
                                    </td>
                                    <td>
                                        @{var firstPhoto = item.Product.Photos[0].Name;}
                                        <img src="~/images/products/@firstPhoto" width="60" height="60" />
                                    </td>
                                    <td>
                                        <a style="color: black;" asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.Id">
                                            @item.Product.Name
                                        </a>
                                    </td>
                                    <td>
                                        @item.Product.Price
                                    </td>
                                    <td>
                                        <form style="display:inline-block;" asp-action="IncreaseQuantity" asp-controller="Cart" asp-route-id="@item.Product.Id" method="post">
                                            <div class="form-group row">
                                                <div class="col-xs-2">
                                                    <input value="@item.Quantity" class="form-control text-center" style="width: 80px;" />
                                                    <input type="submit" value="Update" class="btn btn-dark" />
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                    <td>
                                        @(item.Product.Price * item.Quantity)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td align="right" colspan="6">Sum</td>
                                <td>@ViewBag.Total</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <p>There is no product in the shopping cart</p>
            </div>
        </div>
    }
</div>
<br />
<a asp-controller="" asp-action="">Go To Checkout</a>
