@model MusicalInstrumentsShop.BusinessLogic.ProductFiltering.PaginatedList<MusicalInstrumentsShop.BusinessLogic.DTOs.WishlistProductDto>

@{
    ViewData["Title"] = "My Wishlist";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container wishlist-cart" style="background-color: whitesmoke;">
    <h2>My wishlist</h2>
    <div class="row">
        <div class="col-12">
            <div class="table-content table-responsive">
                @if (Model.Capacity > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Remove</th>
                                <th>Images</th>
                                <th>Product</th>
                                <th>Unit Price</th>
                                <th>In Stock</th>
                                <th>Add to Cart</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {

                            <tbody>
                                <tr>
                                    <td>
                                        <form asp-action="Delete" asp-controller="WishlistProducts" asp-route-id="@item.Id" method="post">
                                            <input type="submit" value="Remove" class="btn btn-dark" />
                                        </form>
                                    </td>
                                    <td>
                                        @{var firstPhoto = item.Product.Photos.ElementAt(0).Name;}
                                        <img src="~/images/products/@firstPhoto" width="60" height="60" />
                                    </td>
                                    <td>
                                        <a style="color: black;" asp-action="Details" asp-controller="Products" asp-route-id="@item.Product.Id">
                                            @Html.DisplayFor(modelItem => item.Product.Name)
                                        </a>
                                    </td>
                                    <td>
                                        $ @Html.DisplayFor(modelItem => item.Product.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.NumberOfProducts)
                                    </td>
                                    <td>
                                        @if (item.Product.NumberOfProducts > 0)
                                        {
                                            <form asp-action="Create" asp-controller="CartProducts" asp-route-id="@item.Product.Id" method="post">
                                                <input type="submit" value="Add To Cart" class="btn btn-dark" />
                                            </form>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                }
                else
                {
                    <br />
                    <h5>You have no products in your wishlist</h5>
                }
            </div>
        </div>
    </div>
</div>

<div class="nextPrevBtnsWishlistOrders">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-dark @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-dark @nextDisabled">
        Next
    </a>
</div>