@model MusicalInstrumentsShop.BusinessLogic.DTOs.SupplierDto

@{
    ViewData["Title"] = "Supplier Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="jumbotron supplier-jumbotron">
    <h4>Supplier Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>

