@model IEnumerable<MusicalInstrumentsShop.BusinessLogic.DTOs.SupplierDto>

@{
    ViewData["Title"] = "Suppliers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="text-center text-white">Suppliers</h3>

<table class="table table-striped table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
