@model MusicalInstrumentsShop.BusinessLogic.ProductFilteringEntities.PaginatedList<MusicalInstrumentsShop.BusinessLogic.DTOs.OrderDetailsDto>

<div class="table-content table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Delivery</th>
                <th>Payment</th>
                <th>Status</th>
                <th>Order Placement Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryMethodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentMethodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderPlacementDate)
                    </td>
                    @if (item.Status == MusicalInstrumentsShop.DataAccess.Entities.OrderStatus.InProgress)
                    {
                        <td>
                            <form asp-action="Cancel" asp-controller="Orders" asp-route-id="@item.Id" method="post">
                                <input type="submit" value="Cancel" class="btn btn-dark" />
                            </form>
                        </td>
                    }
                </tr>
            </tbody>
        }
    </table>
</div>